{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron text-center">

        <h1>Mariage Stephanie et Nicolas</h1>
    </div>
    <div class="container">
        <h4>Description</h4>
    </div>
<div id="root"></div>

{% endblock %}