{% extends 'base.html.twig' %}
{% block title %}Description{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des cadeaux : </h1>
        <div>
            {% for cadeau in cadeaux %}
                   <ul>
                       <li>
                           <a href="{{ path('cadeaux.info',{id: cadeau.id, slug: cadeau.slug}) }}"> {{ cadeau.nom }} : {{ cadeau.prix }} €</a>
                       </li>
                   </ul>

            {% endfor %}
        </div>
    </div>

{% endblock %}