{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Formulaire de présence</h1>
        {{ form_start(form) }}

        {{ form_rest(form) }}
        <button class="btn btn-secondary">Valider</button>
        {{ form_end(form) }}
    </div>


{% endblock %}