{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouveau cadeau</h1>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-secondary">Créer</button>
        {{ form_end(form) }}
    </div>


{% endblock %}